@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html, body {
  padding: 0%;
  margin: 0%;
  font-family: 'Space Mono', monospace;
}
a {
  color: #000000;
  background-color: rgb(0, 0, 0);
  background-size: 200% 100%; 
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

a:before {
  color: #000;
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
 
}

a:hover::before {
  color: #000;
  background: #54b3d6;
  width: 100%;
}
#top {
  display: flex;
  height: 90%;
  width: 100%;
  padding: 0; 
  margin: 0;
  justify-content: space-around;
  align-items: center;
}
img#logo {
    height: 30px;
}

div.menu {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 2vh;
  margin: 0;
  height: 5vh;
  width: 33%;
}
.sec {
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 10;
  padding: 30px;
  display: none;
}

#init {
  display: block;
  padding: 14px;
  margin: 0;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

#profile {
  height: 38vh;

}
#certifications {
  background-color: rgb(37, 76, 113);
}

h1 {
  font-size: 8vh; 
  display: block;
  height: 15vh;
}
h2 {
  margin-top: -5vh;
}
p {
  font-size: 3vh;
}
.container {
  justify-content: center;
  align-items: center; 
  text-align: center;
  display: block;
}
hr {
  margin-top: -6px;
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 3px 0 0 0;
  border-radius: 20px;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -33px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 3px 0;
  border-radius: 20px;
}

#aboutxt p {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: -18px;
  font-size: 20px;
}
.lamp {
  position: fixed;
  bottom: 0;
  right: 35vh;
}
  .nm {
    position: fixed;
    bottom: 0;
    left: 50%;
  }
  
  