html, body {
  padding: 0%;
  margin: 0%;
}
a {
  text-decoration: none;
  color: inherit;
}
#top {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0; 
  margin: 0;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(114, 198, 250);
}
#logo img {
    height: 70px;
}
.menu{
  size: 100%;
}
div.menu:hover {
  background-color: aliceblue;
}
#home {
  display: none;
  height: 30vh;
  background-color: saddlebrown;
}
#about {
  display: none;
  height: 30vh;
  background-color: rgb(35, 158, 33);
}
#certifications {
  height: 30vh;
  background-color: rgb(37, 76, 113);
  display: none;
}
