@media only screen and (max-width: 768px) {
    /* Estilos para dispositivos móveis */

/* Ajustes gerais */
body {
    padding-top: 60px; /* Ajusta o espaçamento acima do conteúdo para acomodar a barra de navegação */
  }
  
  /* Barra de navegação responsiva */
  .navbar {
    height: 60px; /* Altura reduzida para dispositivos móveis */
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding-left: -5px;
  }
  
  .link a {
    padding: 0px 5px; /* Reduz o espaçamento dos links na barra de navegação */
  }
  
  /* Seção inicial (home) */
  .home-section {
    padding: 0 20px; /* Reduz o preenchimento nas laterais */
  }
  
  /* Imagem na seção inicial */
  .home-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 90vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
  }

  .hero-heading{
    color: #fff;
    font-size: 80;
    font-weight: 400;
    opacity: .8;
  }
  
  /* Seção de projetos */
  .project-section {
    padding: 50px 20px; /* Reduz o preenchimento nas laterais e superior */
  }
  
  /* Container de projetos */
  .project-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta o layout de projetos para se adaptar ao tamanho da tela */
    grid-gap: 20px; /* Espaçamento entre os projetos */
  }
  
  /* Cartão de projeto */
  .project-card {
    height: auto; /* Altura automática para acomodar o conteúdo variável */
  }
  
  /* Seção "Sobre mim" */
  .about {
    grid-template-columns: 30% 65%; /* Layout original para telas maiores */
  }

  .about-info {
    margin-top: 0;
    font-size: 20px;
  }

  .about-section {
    padding: 50px 20px; /* Reduz o preenchimento nas laterais e superior */
  }

  .about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  /* Formato da grade para seção de habilidades */
  .heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
   margin-bottom: 5px;
  }

  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta o layout para se adaptar ao tamanho da tela */
    grid-gap: 20px; /* Espaçamento entre as habilidades */
  }
  .skill-card{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
  }

  .skill-img{
    margin-bottom: 105px;
    height: 5px;
    width: 5px;
    opacity: .2;
    z-index: -1;
  }

  .skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
  }
  
  .skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
  }
  
  .skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 50%;
    border: 10px solid;
  }

  /* Seção de contato */
  .contact-section {
    padding: 0px 0px; /* Reduz o preenchimento nas laterais e superior */
  }
  
  .card {
    width: 100%; /* Definir largura total para dispositivos móveis */
    padding: 20px; /* Reduzir o preenchimento */
    border-radius: 10px;
    color: #fff;
    display: flex; /* Usar flexbox para alinhar os cards */
    flex-direction: column; /* Alinhar conteúdo na vertical */
    align-items: center; /* Alinhar os itens no centro */
    margin-bottom: 30px; /* Aumentar a margem inferior para mais espaçamento entre os cards */
    margin-top: 50px;
    position: relative;
    background: #f00;
  }
  
  .card:nth-child(2) {
    background: #ff4f4f;
  }
  .card:nth-child(3) {
    background: #ffb84f;
  }
  .card:nth-child(4) {
    background: #3dca5c;
  }
  .card:nth-child(5) {
    background: #565252;
  }
  .card:nth-child(6) {
    background: #4fa0ff;
  }
  
  .card-title {
    font-size: 24px; /* Reduzir o tamanho do título para dispositivos móveis */
    font-weight: 300;
    margin-bottom: 10px; /* Reduzir o espaçamento inferior */
  }
  
