@media only screen and (max-width: 768px) {
    /* Estilos para dispositivos móveis */

/* Ajustes gerais */
body {
    padding-top: 60px; /* Ajusta o espaçamento acima do conteúdo para acomodar a barra de navegação */
  }
  
  /* Barra de navegação responsiva */
  .navbar {
    height: 60px; /* Altura reduzida para dispositivos móveis */
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding-left: -5px;
  }
  
  .link a {
    padding: 0px 5px; /* Reduz o espaçamento dos links na barra de navegação */
  }
  
  /* Seção inicial (home) */
  .home-section {
    padding: 0 20px; /* Reduz o preenchimento nas laterais */
  }
  
  /* Imagem na seção inicial */
  .home-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 90vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
  }

  .hero-heading{
    color: #fff;
    font-size: 80;
    font-weight: 400;
    opacity: .8;
  }
  
  /* Seção de projetos */
  .project-section {
    padding: 50px 20px; /* Reduz o preenchimento nas laterais e superior */
  }
  
  /* Container de projetos */
  .project-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta o layout de projetos para se adaptar ao tamanho da tela */
    grid-gap: 20px; /* Espaçamento entre os projetos */
  }
  
  /* Cartão de projeto */
  .project-card {
    height: auto; /* Altura automática para acomodar o conteúdo variável */
  }
  
  /* Seção "Sobre mim" */
  .about {
    grid-template-columns: 30% 65%; /* Layout original para telas maiores */
  }

  .about-info {
    margin-top: 0;
    font-size: 20px;
  }

  .about-section {
    padding: 50px 20px; /* Reduz o preenchimento nas laterais e superior */
  }

  .about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  /* Formato da grade para seção de habilidades */
  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta o layout para se adaptar ao tamanho da tela */
    grid-gap: 20px; /* Espaçamento entre as habilidades */
  }
  .skill-card{
    margin-bottom: 5px;
    position: relative;
  }

  .skill-img{
    position: absolute;
    margin-top: 5px;/* Coloca a imagem no final do seu contêiner */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    height: 50px;
    opacity: .5;
    z-index: -1;
  }

  p.skill-info {

  }
  
  /* Seção de contato */
  .contact-section {
    padding: 0px 0px; /* Reduz o preenchimento nas laterais e superior */
  }
  
