/* Estilo para o modal overlay que ofusca o fundo */
#modal-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo para o conteúdo do modal */
#modal-content {
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
