/* night mode */
.night-mode
body {
    background-color: black;
    color: white;    
}
a {
    background-image: linear-gradient(
      to right,
      #058fc1,
      #029bd3 50%,
      #ffffff 50%
)}
