User

nav {
  background-color: #333; /* Cor de fundo do menu */
  position: fixed; /* Fixa o menu na tela */
  width: 100%; /* Largura total */
  top: 0; /* Coloca o menu no topo */
  z-index: 999; /* Para garantir que o menu esteja acima de outros conteúdos */
}
ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ff497c;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }